{% extends "base.html.twig" %}
{% block body %}
	<div class="jumbotron">
		<h1 class="display-4">Immo RUFFIN</h1>
		<p class="lead">Laboris pariatur sit nulla consequat tempor aute voluptate anim officia excepteur consectetur pariatur.</p>
		<hr class="my-4">
		<p>Sit Lorem non commodo pariatur eiusmod amet velit minim consequat. Consectetur sunt exercitation aliqua cillum cupidatat ex irure dolor deserunt sit ex. Commodo occaecat labore cillum dolore incididunt eiusmod nostrud irure et. Pariatur id tempor qui id.</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
		</p>
	</div>
{% endblock %}
