{% extends "base.html.twig" %}
{% block body %}
	<div class="jumbotron text-center">
		<h1 class="display-4">Immo RUFFIN</h1>
		<p class="lead">Bienvenue, sur le site N°1 de la location immobilière</p>
		<hr class="my-4">
	</div>
{% endblock %}
